<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Automation For nopCommerce">
        <classes>
            <class name="seleniumtest.SearchTest">
                <methods>
                    <include name="SearchScenario01"/>
                    <include name="SearchScenario02"/>
                    <include name="SearchScenario03"/>
                    <include name="SearchScenario04"/>
                    <include name="SearchScenario05"/>
                    <include name="SearchScenario06"/>
                    <include name="SearchScenario07"/>
                    <include name="SearchScenario08"/>
                    <include name="SearchScenario09"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>





